@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
   --bg : #1A1A1D;
   --grey : #4E4E50;
   --red1 : #6F2232;
   --red2 : #950740;
   --red3 : #C3073F;
   --green : #03C988;
}

.wrapper{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content:space-around;
    padding: 20px 100px;
    flex-wrap: wrap;
}


.card{
    flex: 40%;
    background-color: var(--red2);
    padding: 20px 50px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    margin: 10px;
    color: var(--bg);
    opacity: 80%;
}

@media (max-width: 800px) {
    .card {
      flex: 100%;
    }
  }
@media (max-width : 700px){
    .table-wrapper {
        display: none;
    }
}

body{
    background-color: var(--bg);
    
}

.judule{
    padding: 20px auto;
}

#inputNama, #inputKode {
    height: 40px;
}

input{
    width: 100%;
    border-radius: 20px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    background-color: var(--bg);
    color: var(--green);
    font-weight: 500;
    
}
.wrapper button, table button{
    border-radius: 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 11px 8px 0px rgba(0,0,0,0.86); 
box-shadow: 10px 11px 8px 0px rgba(0,0,0,0.86);
    font-weight: bolder;
}
#record-btn{
    background-color: green;
}

.title-table{
    color: whitesmoke;
}

.table-wrapper button {
    min-width: 150px;
}

.table-wrapper{
    color: whitesmoke;
}

.modal-content{
    background-color: var(--red2);
}

button:hover{
    transition-delay : 0.2s;
    transform: translateY(5px) translateX(5px);
    box-shadow: none;
    cursor: pointer;
}

.table-wrapper{
    width: 80%;
    margin: 20px auto;
        /* -webkit-box-shadow: 2px 2px 2px 0px rgba(124, 136, 162, 0.86); 
box-shadow: 5px 6px 8px 0px rgba(146, 150, 173, 0.86); */

}

.hasilGenerate{
    font-size: 5vw;
    align-self: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

.action{
    width: 25%;
}

#edit{
    background-color: green;
}
#hapus{
    color: white;
    background-color: var(--red2);
}

#editRandom, #editStop{
    width: 100%;
    margin: 10px auto;
}
.editGenerate{
    font-size: 100px;
    align-self: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

[name = example_length]{
    color: greenyellow;
}
#example_filter input{
    color: greenyellow;
}